html {
	font-size: 16px;
}

main {
	padding: 6rem;
	box-shadow:
		0 0 2px #0000001f,
		0 2px 4px #0000003d;
}

.nav-ring__link::before {
	margin: 0.1rem 0 0 0.1rem;
}

.nav-ring__link--prev::before {
	margin: 0.1rem 0 0 0.3rem;
}

.toc {
	gap: 0;
}

.toc__link {
	position: relative;
	display: flex;
	align-items: flex-end;
	gap: 0.25rem;
	margin: 0 -0.5rem;
	padding: 0 0.5rem;
	text-indent: 0;
}

.toc__link {
	background-color: var(--color-white);
}

.toc__link::before {
	content: counter(items);
}

.toc__link::after {
	content: "";
}
